.imgDivv{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0,0, 0, 0.3),rgba(0, 0,0, 0.2)),url('../../../Assets/adminlogin.jpg');
    background-size:cover;
    background-position: center;
}