.aboutImg{
    width: 100%;
    height: 510px;
    background-image:url('../../Assets/k8.jpg');
    background-size:cover;
    background-position: center;
}
.subcontanier{
    width: 100%;
    height: 500px;
    background-image:url('../../Assets/aboutbg2.jpg');
    background-size:cover;
    background-position: center;
}